rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 기본적으로 모든 읽기 및 쓰기를 거부합니다.
    match /{document=**} {
      allow read, write: if false;
    }

    // 사용자는 자신의 프로필 정보만 생성, 읽기, 업데이트할 수 있습니다.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }

    // 채팅방에 대한 규칙입니다.
    match /rooms/{roomId} {
      // 로그인한 사용자는 채팅방 정보를 읽을 수 있습니다.
      allow read: if request.auth != null;
      // 로그인한 사용자는 자신이 소유한 채팅방을 만들 수 있습니다.
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      // 방 소유자만 방을 업데이트하거나 삭제할 수 있습니다.
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;

      // 채팅방에 접속 중인 사용자 목록에 대한 규칙입니다.
      match /onlineUsers/{sessionId} {
        // 로그인한 사용자는 접속자 정보를 생성, 읽기, 삭제할 수 있습니다.
        allow read, create, delete: if request.auth != null;
      }
    }

    // 메시지에 대한 규칙입니다. (루트 컬렉션)
    match /messages/{messageId} {
      // 로그인한 사용자는 메시지를 생성(전송), 읽기, 업데이트(투표 등)할 수 있습니다.
      // 앱 로직에서 특정 방의 메시지만 필터링합니다.
      allow read, write, update: if request.auth != null;
    }
  }
}